<div class="container">
  <div class="row">
    <div class="col s6 center-block">
      <h2>Your RSVP</h2>
      <div class="col s12">

        <p><b>Guest Name:</b> <%= @guest.guest_name %> </p>
      </div>
      <div class="col s12">
        <p><b>Your Email:</b> <%= @guest.email%></p>
      </div>
      <div class="col s12">
        <p><b>Number of Guests:</b> <%= @guest.number_of_guest%></p>
      </div>
      <div class="col s12">
        <p><b>Are you going?</b> <%= @noText%> <%= @yesText%></p>
      </div>
      <div class="col s12">
        <p><b>Comments:</b></p>
        <p><%= @guest.comments%></p>
      </div>
      <a><%= link_to "Edit", edit_guest_path(@guest), {class: "orange btn waves-effect waves-light"} %></a>
    </div>
  </div>
</div>
